.dropAreaLabel {
	font-size: 24px;
	font-weight: bold;
}

.framedArea {
	background-color: rgba(255,255,255,0.0);
	border-color: rgba(255,255,255,1.0);
	border-width: 1px;
	color: rgba(255, 255, 255, 1.0);
}

.shadowedAreaTop {
	background-gradient-start: rgba(0, 0, 0, 0.7);
	background-gradient-end: rgba(0, 0, 0, 0.1);
	background-gradient-direction: vertical;
	color: rgba(255, 255, 255, 1.0);
}

.shadowedAreaBottom {
	background-gradient-start: rgba(0, 0, 0, 0.1);
	background-gradient-end: rgba(0, 0, 0, 0.7);
	background-gradient-direction: vertical;
	color: rgba(255, 255, 255, 1.0);
}

.folderArea {
	background-gradient-start: rgba(0, 0, 0, 0.4);
	background-gradient-end: rgba(0, 0, 0, 0.0);
	background-gradient-direction: vertical;
	border-color: rgba(255,255,255,1.0);
	border-radius: 4px;
	border-width: 2px;
	color: rgba(255, 255, 255, 1.0);
}

.appArea {
	background-gradient-start: rgba(241, 236, 236, 0.651);
	background-gradient-end: rgba(248, 248, 248, 0.699);
	background-gradient-direction: vertical;
}

.insensitiveArea {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(100, 100, 100, 0.6);
}

.appCategoryBox {
	background-color: rgba(100, 100, 100, 0.3);
	border-radius: 3px;
	margin: 3px;
	padding: 2px;
	padding-left: 6px;
}

.appCategoryDeleteBtn {
	background-color: rgba(100, 100, 100, 0.3);
	border-radius: 3px;
}



